/***** 
COLOR CHEAT SHEET 
https://coolors.co/edede9-d6ccc2-f5ebe0-e3d5ca-d5bdaf
edede9- Light grey
d6ccc2- "Timberwolf" light brown
f5ebe0- "Linen" baige
e3d5ca- "Champagne pink"
d5bdaf- "Pale wood"
*****/



/********************/
/******* FONTS ******/
/********************/
body, p {
    font-family: "Noto Sans", sans-serif;


}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", sans-serif;
}



/********************/
/******* HERO ******/
/********************/
header.masthead {
    background-image: url('../img/bg.jpg');
}

